@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
* {
  box-sizing: border-box;
}
h5 {
  font-size: 50px;
  font-family: "Exo 2", sans-serif;
  color: rgb(255, 0, 0);
}
a {
  color: white;
  text-decoration: none;
}
.textoCarousel {
  font-size: 25px;
  font-family: cursive;
  color: lightgray;
  background-color: rgba(0, 0, 0, 0.56);
  border-radius: 15px;
}
.imgCarousel {
  width: auto;
  height: 150px;
}
.btn {
  background: linear-gradient(0deg, red 0%, black 100%);
  color: red;
  border-radius: 15px;
  font-size: 35px;
  font-family: "Bangers", system-ui;
  box-shadow: 2px 3px 5px gray;
}
.icon {
  font-size: 75px;
  color: lightgray;
}
.cajasuscripcion {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.btn2 {
  background-color: rgba(0, 0, 0, 0.949);
  border-radius: 10px;
}
/* estilos de cards */
.cardimg {
  width: 230px;
  height: 300px;
  margin-bottom: 5px;
  border-radius: 6px;
  background-size: cover;
  background-position: center;
  transition: 300ms;
  &:hover {
    transform: scale(1.1);
    transition: 300ms;
    cursor: pointer;
  }
}
.cardimg1 {
  background-image: url(../Img/imgFiccion/jurassic-world-el-renacer-poster-686513d951783.avif);
}
.cardimg2 {
  background-image: url(../Img/imgFiccion/americafrente.jfif);
}
.cardimg3 {
  background-image: url(../Img/imgFiccion/imgsuper2025._747x420.jpeg);
}
.cardimg4 {
  background-image: url(../Img/imgFiccion/inter.jpg);
}
.cardimg5 {
  background-image: url(../Img/imgFiccion/AVATAR.jpg);
}
.cardimg6 {
  background-image: url(../Img/imgFiccion/batvssuper.jpg);
}
.cardimg7 {
  background-image: url(../Img/imgFiccion/La_guerra_de_los_mundos-690983782-large.jpg);
}
.cardimg8 {
  background-image: url(../Img/imgFiccion/VanHelsing_2004_teaser_original_film_art_5000x.webp);
}
.cardimg9 {
  background-image: url(../Img/imgFiccion/bbad.jpg);
}
.cardimg10 {
  background-image: url(../Img/imgFiccion/POSTER.jpg);
}
.cardbtn {
  position: relative;
}
/* btn-me gusta */
.cardbtn2 {
  position: absolute;
  font-size: 20px;
  top: 235px;
  left: 175px;
}
/* caja ver/desc */
.cardbtn3 {
  width: 102px;
  height: 30px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.61);
  box-shadow: 2px 3px 5px gray;
}
.ver {
  position: absolute;
  top: 230px;
  left: 10px;
  text-align: center;
  transition: 800ms;
}
.descargar {
  position: absolute;
  top: 263px;
  left: 10px;
  text-align: center;
}
.ver:hover {
  background-color: rgba(30, 61, 237, 0.74);
  transition: 800ms;
  cursor: pointer;
}
.descargar:hover {
  background-color: rgba(0, 128, 0, 0.826);
  transition: 800ms;
  cursor: pointer;
}
