* {
  margin: 0%;
  padding: 0%;
}

/* la clase "margin-navbar-fijo" se agrego para que el navbar fijo no tape el texto del main */
.margin-navbar-fijo {
  margin-top: 90px;
}

.Nav-items-g {
  color: rgb(255, 255, 255);
  font-weight: bold;
  cursor: pointer;
}

.Nav-items:hover {
  color: rgb(255, 255, 255);
  transform: scale(1.5);
  font-weight: bold;
}

.bg-nav {
  background: linear-gradient(to right, black, red);
}
