* {
  margin: 0%;
  padding: 0%;
}

.Nav-items-g {
  color: rgb(255, 255, 255);
  font-weight: bold;
  cursor: pointer;
}

.Nav-items:hover {
  color: rgb(255, 255, 255);
  transform: scale(1.5);
  font-weight: bold;
}

.bg-nav {
  background: linear-gradient(to right, black 0%, black 40%, red 100%);
}

/* media para que el navbar quede fijo solo en dispositivos grandes */

@media (min-width: 992px) {
  .navbar-fijo-lg {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1030; 
  }

  body {
    margin-top: 90px;
  }
}
