@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
* {
  box-sizing: border-box;
}
h5 {
  font-size: 50px;
  font-family: "Exo 2", sans-serif;
  color: rgb(255, 0, 0);
}
a {
  color: white;
  text-decoration: none;
}
.textoCarousel {
  font-size: 25px;
  font-family: cursive;
  color: lightgray;
  background-color: rgba(0, 0, 0, 0.56);
  border-radius: 15px;
}
.imgCarousel {
  width: auto;
  height: 150px;
}
.btn {
  background: linear-gradient(0deg, red 0%, black 100%);
  color: red;
  border-radius: 15px;
  font-size: 35px;
  font-family: "Bangers", system-ui;
  box-shadow: 2px 3px 5px gray;
}
.icon {
  font-size: 75px;
  color: lightgray;
}
.cajasuscripcion {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.btn2 {
  background-color: rgba(0, 0, 0, 0.949);
  border-radius: 10px;
}
